.cart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.cart-value-number {
    font-weight: bold;
}

.cart-title {
    font-weight: 500;
}

.cart-total-value-container {
    background: var(--slate-color01);
    padding: 10px 20px;
    border-radius: 5000px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.cart-value-text {
    color: var(--slate-color02);
}

.shipping-cost-details{
    display: flex;
    max-width: 150px;
    gap:20px;
    align-items: center;
    font-weight: 300;
    font-size:12px;
}

@media screen and (max-width: 720px) {
    .cart-wrapper {
        align-items: center;
    }
}