.auth-container {
    display: flex;
    gap: 10px;

    button {
        width: 110px;
    }
}

.shpping-title {
    font-weight: 500;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shipping-info {
    max-width: 470px;
    display: flex;
    flex-direction: column;

    .shipping-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 15px;
        input {
            width: 230px;
        }
    }
}