.auth-container {
    display: flex;
    gap: 10px;
    button {
        width: 110px;
    }
}

.shpping-title {
    font-weight: 500;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 40px;
}

.shipping-info {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .shipping-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        row-gap: 15px;

        input {
            width: 230px;
        }
    }
}


@media screen and (max-width: 720px) { 
    .auth-container {
        justify-content: center;
    }
}
