.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
    height: 70px;
    padding: 0 70px;
    top: 0;
    border-bottom: 1px solid var(--border-color);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 150px;
}

.user-name {
    font-weight: bold;
}

.header-category {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    li {
        display: block;
    }

    button {
        border: none;
    }
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
        border: none;
    }
}


.loggedin-user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}




.logout-btn {
    display: flex;
    gap: 10px;
}