.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
    height: 70px;
    padding: 0 70px;
    top: 0;
    border-bottom: 1px solid var(--border-color);
}

.header-logo {
    width: 130px;
    height: 48px;
    object-fit: contain;
}

.user-name {
    font-weight: bold;
}

.menu-btn {
    display: none;


}
.header-category {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    li {
        display: block;
    }

    button {
        border: none;
    }
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
        border: none;
    }
}


.loggedin-user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}




.logout-btn {
    display: flex;
    gap: 10px;
}


@media screen and (max-width:715px) {
    .Header{
        padding:  0 30px;
    }
    .menu-btn {
        display: block;
        margin-right: 20px;

    }
    .header-category{
        display: none;
    }
    .new-header-category {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        height: 40%;
        left: 50%;
        transition: .3s ease;
        transform: translateX(-50%);
        width: 80%;
    }
    .new-header {
        align-items: flex-start;
        height: 90px;
        padding: 5px 0;
    }
}