.Header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
    height: 70px;
    top: 0;
    border-bottom: 0.5px solid grey;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 150px;
}

.header-category {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    gap: 25%;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 150px;
    gap: 40%;
}