.checkout-wrapper {
    width: calc(100% - 150px);
    margin: 0 auto;
    padding: 20px 0px;
}

.checkout-subcontainer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    .shipping-card {
        grid-column: span 5 / span 5;
    }

    .payment-card {
        grid-column: span 4 / span 4;
    }

    .cart-card {
        grid-column: span 3 / span 3;
    }


}


.sub-header-wrapper {
    width: 100%;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
}

.sub-header-actions {
    display: flex;
    gap: 5px;
    align-items: center;

    .shopping-cart-btn {
        border: 1px solid var(--primary-color);
    }

    .line {
        height: 1px;
        width: 95px;
        background-color: var(--border-color);
    }

    button {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        padding: 0;
    }
}


.sub-header-title {
    font-weight: 500;
}


@media screen and (max-width: 720px) {

    .checkout-wrapper {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .sub-header-wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .checkout-subcontainer {
        row-gap: 45px;
        .shipping-card {
            grid-column: span 12 / span 12;
        }

        .payment-card {
            grid-column: span 12 / span 12;
        }

        .cart-card {
            grid-column: span 12 / span 12;
        }
    }

}